* {
  font-family: 'Roboto Mono', monospace;
  margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

a {
  color: black;
}

a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.header {
  background-image: url("2.png");
  height: 942px;
  color: #FFFF00;
}

.what {
  color: white;
  background-color: black;
  height: 942px;
}

.why {
  color: white;
  background-color: #75726B;
  height: 942px;
}

.how {
  color: white;
  background-color: #C1C1C1;
  height: 942px;
}

.footer {
    border-top: none;
    font-size: 30px;
  }

.footer ul{
      list-style-position:outside;
      list-style-type:none;
      padding-left: 0px;
}

.footer li{
      padding-bottom: 4px;
}
