* {
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

body {
  margin-top: 0px;
  padding-top: 0px;
  height: 100%;
}

#bg {
  margin-left: 700px;
  margin-top: 0px;
  padding: 0px;
}

#bg1 {
  margin-left: 750px;
  margin-top: 50px;
  padding: 0px;
}

#invest {
  color: blue;

}

#threefour{
  color: black;
}

::-webkit-scrollbar {
    /*display: none;*/
}

h1 {
  font-size: 80px;
  margin-top: 100px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 17px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.images {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  bottom: 0;
}

#fixed_wrapper {
  height: 12000px;
}

#fixed_wrapper div{
  width: 700px;
  padding-top: 5em;
  margin-left: 90px;
  color: black;
  /*display: inline-block;*/
  position: fixed;
  top: 0;
  transition: transform 1s;
  transform: translateY(200vh);
}

#fixed_wrapper div:target {
  transform: translateY(0);
}

#fixed_wrapper div:target ~ div {
  transform: translateY(-200vh);
}

#music {
  position: relative;
  overflow-y: auto;
}

#podium {
  position: relative;
  overflow-y: auto;
}

#footer {
  /*margin-top: 3000px;
  background-color: white;
  margin-left: 700px;*/
  padding-left: 0px;
  font-size: 30px;
}

#footer p {
  font-size: 30px;
}

#us {

}

.links {
  height: 23px;
  width: 23px;
}

.topnav {
  background: whitesmoke;
  box-sizing: border-box;
  padding-left: 90px;
  overflow: hidden;
  top: 30px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}


.topnav a {
  color: black;
  text-align: center;
  padding-right: 30px;
  font-size: 30px;
}
