* {
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

body {
  background-image: url("bg.png");
  background-position:center top;
  height: 5000px;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 40px;
}

a {
  color: black;
}

a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#fixed_wrapper {
    top: 80px;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

#fixed_wrapper div{
  margin-left: 200px;
  color: #FFFF00;
  height: 100vh;
  display: inline-block;
}

#footer {
  margin-top: 5000px;
  background-color: white;
  margin-left: 0px;
  padding-left: 0px;
  font-size: 30px;
}


.topnav {
  margin-left: 200px;
  overflow: hidden;
  top: 30px;
  position: sticky;
}


.topnav a {
  color: #FFFF00;
  text-align: center;
  padding-right: 16px;
  font-size: 50px;
}
